:root {
  --canvas-margin: 1.5rem;
  --cosmic-latte: #fff8e7;
  --eigengrau: #16161d;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--eigengrau);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0 1rem;
}

canvas {
  margin: var(--canvas-margin);
  margin-top: 0;
  border: 0.05rem solid var(--cosmic-latte);
}

button {
  width: 5rem;
  border: 0.05rem solid var(--cosmic-latte);
  border-radius: 0.1rem;
  background-color: transparent;
  color: var(--cosmic-latte);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}
