:root {
  --canvas-margin: 20px;
  --cosmic-latte: #fff8e7;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #16161d;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  margin: var(--canvas-margin);
  border: 1px solid var(--cosmic-latte);
}
